body {
    background-color: white;
}

/* titles and text */
a{
    text-decoration: none;
    color: #FFE600;
}

p{
    font-family: 'Syne';
font-style: normal;
font-weight: 400;
font-size: 30px;

color: #FFE600;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#main_title {
    /* Biracial Babies Grow into Biracial Adults */
    position: absolute;
    width: 1658px;
    height: 64px;
    left: calc(50% - 1658px/2 - 1px);
    bottom: 62px;

    font-family: 'Syne';
    font-style: normal;
    font-weight: 800;
    font-size: 53px;
    line-height: 64px;
    /* identical to box height */

    text-align: center;

    color: #FFE600;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.section_title {
    /* Gallery */
    font-family: 'Syne';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 84px;
    /* identical to box height */

    text-align: center;

    color: #FFE600;
}

#left_section_title {
    /* Gallery */
    position: absolute;
    width: 273px;
    height: 84px;
    left: calc(50% - 273px/2 - 576.5px);
    top: 38px;

}

#middle_section_title {
    /* Information */
    position: absolute;
    width: 456px;
    height: 84px;
    left: calc(50% - 456px/2 - 1px);
    top: 38px;
}

#right_section_title {
    /* Draw */


    position: absolute;
    width: 210px;
    height: 84px;
    left: calc(50% - 210px/2 + 576px);
    top: 38px;
}




.section_page_title {
    font-family: 'Syne';
font-style: normal;
font-weight: 800;
font-size: 70px;
line-height: 84px;
/* identical to box height */

text-align: center;

color: #FFE600;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.back_title{
    
    /* Home */

position: fixed;
width: 239px;
height: 84px;
left: 9px;
bottom: 0px;

font-family: 'Syne';
font-style: normal;
font-weight: 700;
font-size: 70px;
line-height: 84px;
/* identical to box height */

text-align: center;

color: #FFE600;
}

/* p5js skecthes */

/*

iframe {
    width: 576px;
    height: 1117px;

}
*/



#middle_sketch {
    width: 576px;
    height: 1117px;
    position: absolute;
    width: 576px;
    height: 1117px;
    left: calc(50% - 576px/2);
    top: calc(50% - 1117px/2);

}

#left_sketch {
    position: absolute;
    width: 688px;
    height: 1117px;
    left: 0px;
    top: calc(50% - 1117px/2);

}

#right_sketch {
    position: absolute;
    width: 688px;
    height: 1117px;
    right: 0px;
    top: calc(50% - 1117px/2);

}


/* draw page stuff*/


#container {

  margin-top: 30px;
  text-align: center;
}

input {
  height: 40px;
  border: 1px solid #c4c4c4;
  border-radius: 15px;
  background-color: transparent;
  padding: 5px 10px 5px 10px;
  /*   padding: 10px; */
}


button {
  height: 40px;
  border: 1px solid #c4c4c4;
  border-radius: 15px;
  /*   background-color: transparent; */
  padding: 5px 10px 5px 10px;
}

canvas {
  border-radius: 17px;
  border: 1px solid black;
  margin: 15px;
}

#drawingContainer{
/*   background-color: green; */
  margin-top: 20px;
}

.smallImage{
  border-radius: 17px;
  border: 1px solid yellow;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
  width: 80px;
}